<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Look for a SR</title>
</head>
<body>
    <h1>Look for a SR</h1>
    <form action="/result" method="post">
        <label for="request_id">Request ID:</label>
        <input type="text" id="request_id" name="request_id" required>
        <br>
        <label for="apiurl">API URL:</label>
        <select name="apiurl">
            <option value="https://api.opensuse.org">openSUSE</option>
            <option value="https://api.suse.de">SUSE</option>
        </select>
        <br>
        <label for="theme">Theme:</label>
        <select name="theme">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
        <br><br>
        <input type="submit" value="Load SR">
    </form>
</body>
</html>
